*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: #f2f2f2;
}


header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #176087;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px 5%;
    transition: ease .40s;
    height: 70px;
}

.logo img {
    width: 200px;
    height: auto; 
}

#menu-toggle {
    display: none;
}

.menu-icon {
    display: none;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
}

/* Navbar */
.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: ease .40s;
    background: #133C55;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0a2434;
    color: #fff;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        left: 350px; 
    }

    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: #176087;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    
    #menu-toggle:checked + .menu-icon + .navbar {
        height: auto;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        display: block;
        padding: 15px;
        width: 100%;
    }
}

.heading{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.heading h1{
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #176087;
}

.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5 ease;
}

.about-content{
    flex: 1;
}

.about-content h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p{
    font-size: 18px;
    line-height: 1.5;
    color: #666;    
}

.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    background-color: #176087;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color: #1D84B5;
}

.banner__container {
    display: grid;
    display: flex;
    gap: 2rem;
    justify-content: center; /* Centers the cards */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    }
  
  
.banner__card {
    padding: 80px;
    min-height: 70px;
    text-align: center;
    background-color: #176087;
    border-radius: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}
  
.banner__card h4 {
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
}

.banner__card p {
    color: #fff;
}

@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 16px;
    }
    .about-content .read-more{
        font-size: 16px;
    }
}

.section__container .banner__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container_footer{
    max-width: 1170px;
    margin: auto;
}

.reviews-heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

.reviews-heading h1 {
    font-size: 40px;
    color: #302f2f;
    margin-top: 50px;
    position: relative;
}

.reviews {
    display: flex;
    gap: 12px;
    max-width: 700px;
    width: 100%;
    background: #176087;
    border-radius: 14px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    margin-top: 60px;
    justify-content: flex-start; 
}

.reviews .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background: #f2f2f2;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #176087;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
}

.card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #666;
    text-align: center;
}


.footer1{
    background: #133C55;
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: blue;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}
.footer-col h4,
.footer-col ul li a {
    color: #fff;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    transition: all, 3s ease;
}
.footer-col ul li a:hover{
    color: #bbbbbb;
    padding-left: 6px;
}

.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,.2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all .5s ease;
}
.footer-col .social-link a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.footer-col .social-link a:hover{
    color: #24262b;
    background: #fff;
}

@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:767px){
    .footer-col{
        width: 100%;
    }
}