*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-size: 16px;
    font-family: 'Poppins';
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1D84B5;
    padding: 5px 5%;
    transition: ease .40s;
    height: 70px;
}


.logo img {
    width: 200px;
    height: auto; 
}


#menu-toggle {
    display: none;
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #133C55;
    cursor: pointer;
}

/* Navbar */
.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: ease .40s;
    background: #133C55;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0a2434;
    color: #fff;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        left: 350px; 
    }

    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: #1D84B5;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    
    #menu-toggle:checked + .menu-icon + .navbar {
        height: auto;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        display: block;
        padding: 15px;
        width: 100%;
    }
}

.article-container {
    margin-top: 120px;
}

.article-container h1{
    text-align: center;
    font-size:40px;
    color: #133C55;
    letter-spacing: 2px; 
}

.flexone{
    flex: 1;
}

.groups{
    margin: 0 auto;
    width: 1000px;
    height: auto;
    padding: 10px;
}

.groups li{
    position: relative;
    list-style: none;
    background: white;
    border-radius: 15px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.276);
    overflow: hidden;
    margin-bottom: 30px;
    border: 2px solid 0 3px 4px 0 rgba(0, 0, 0, 0.276);;
}

.groups li:hover{
    box-shadow: 0 3px 14px 0 #0005;
}

.groups .card{
    overflow: hidden;
    display: block;
}

.groups .image-session{
    float: left;
    overflow: hidden;
    margin-right: 10px;
}

.groups .image-session .image{
    width: 280px;
    height: 220px;
    display: block;
    background-size: cover !important;
    background-position: center !important;

}

.groups .meta-session{
    position: relative;
    padding: 25px;
    display: block;
    height: 220px;
}

.meta-session .head{
    display: flex;
    margin-bottom: 10px;
}

.meta-session .head .category{
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #176087;
}

.meta-session .head .per span,
.meta-session .head .per input{
    display: block;
    font-size: 10px;
    text-align: right;
}

.meta-session .head .per input{
    appearance: none;
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    margin-bottom: 4px;
    overflow: hidden;
}

.meta-session .head .per input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #176087;
}
.meta-session .body p {
    color: rgb(72, 71, 71);
}
.meta-session .body .title{
    min-height: 60px;
    overflow: hidden;
    font-size: 24px;
}

.meta-session .body .desc{
    height: 45px;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 10px;
}
.price {
    font-size: 25px;
    font-weight: bold;
    color: #38A3A5;
    position: absolute;
    right: 60px;
    bottom: 80px;
    text-decoration: bold;
}
.meta-session .footer .button{
    position: absolute;
    right: 25px;
    bottom: 20px;
    background: #176087;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 18px;
    line-height: 2.2;
    padding: 0 20px;
    box-shadow: 0 1px 6px #0004;
    transition: all 0.3s;
    align-self: flex-end;
}

.media-session .footer .button:hover{
    box-shadow: 0 3px 8px 0 #0005;
    right: 15px;
    background: #133C55;
}

.meta-session .footer .views{
    display: block;
    font-size: 12px;
    margin-top: 40px;
}

@media screen and (max-width:780px){
    .groups{width: 96%;}

    .groups li:hover{
        transform: none;
        box-shadow: 0 3px 14px 0 #0005;
    }
}

@media screen and (max-width:260px) {
    .groups .image-session{
        float: none;
        margin-right: 0;
    }
    .groups .image-session .image{
        width: 100%;
    }
}

.container_footer{
    max-width: 1170px;
    margin: auto;
}

.footer1{
    background: #133C55;
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #fff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: blue;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}
.footer-col h4,
.footer-col ul li a {
    color: #fff;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    transition: all, 3s ease;
}
.footer-col ul li a:hover{
    color: #bbbbbb;
    padding-left: 6px;
}

.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,.2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
    color: #fff;
    transition: all .5s ease;
}
.footer-col .social-link a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.footer-col .social-link a:hover{
    color: #24262b;
    background: #fff;
}

@media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:767px){
    .footer-col{
        width: 100%;
    }
}