*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color:#fff ;
    color: #221314;

}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 5px 5%;
    transition: ease .40s;
    height: 70px;
}


.logo img {
    width: 200px;
    height: auto; 
}


#menu-toggle {
    display: none;
}


.menu-icon {
    display: none;
    font-size: 28px;
    color: #133C55;
    cursor: pointer;
}

/* Navbar */
.navbar {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 4px;
    transition: ease .40s;
    background: #133C55;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0a2434;
    color: #fff;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        position: absolute;
        left: 350px; 
    }

    .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: #133C55;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease;
    }

    
    #menu-toggle:checked + .menu-icon + .navbar {
        height: auto;
    }

    .navbar li {
        margin: 10px 0;
    }

    .navbar a {
        display: block;
        padding: 15px;
        width: 100%;
    }
}


section{
   padding: 80px 18%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("Images/background-welcme.jpeg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1,1 fr);
    align-items: center;
}

.home-text h1{
    font-size:50px;
    line-height: 1.2;
    color: #133C55;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.home-text p{
    color: #ffffffee;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}

.home-btn{
    display: inline-block;
    font-size: 18px;
    padding: 10px 22px;
    background: #133C55;
    color: #fff;
    border-radius: 6px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.home-btn:hover{
    background-color: #38A3A5;
}