*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body{
    background-color:#fff ;
    color: #221314;

}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: ease .40s;
}

.logo img {
    width: 200px;
    height: auto; 
}

.logo {
    position: absolute;  
    left: 5%; 
}

.navbar{
    display: flex;
}

.navbar a{
    color: #fff;
    font-size: 18px ;
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    background: #133C55;
    margin: 0 10px;
}

.navbar a:hover{
    background-color:#0a2434;
    color: #fff;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
   
}

section{
   padding: 80px 18%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("Images/background-welcme.jpeg");
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1,1 fr);
    align-items: center;
}

.home-text h1{
    font-size:50px;
    line-height: 1.2;
    color: #133C55;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.home-text p{
    color: #ffffffee;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
}

.home-btn{
    display: inline-block;
    font-size: 18px;
    padding: 10px 22px;
    background: #ffffff;
    color: #176087;
    border-radius: 6px;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.home-btn:hover{
    background-color: #c2bfbfe5;
}